body {
  background-color: #fff;
}

header {
  grid-column: 1 / 4;
  width: 100%;
  height: 8%;
  left:0;
  top:0;
  position:fixed;
  z-index: 1;
  background-color: #666;
  background-image: linear-gradient(to bottom, #666, #b6b6b6);
}

footer {
  background-color: #444;
  position: fixed;
  width: 100%;
  height: 7%;
  margin-top:60%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index:1;
  display: inline;
  grid-column: 1 / 4;
}



article {
  background-color: #b6b6b6;
  width: 80%;
  height: 77%;
  margin-top:5%;
  margin-left:10%;
  position:absolute;
}


amid{
  width: 93%;
  height: 75.5%;
  position: absolute;
  margin: auto;
  top: 12%;
  left: 3.5%;

  border-style: solid;
  border-width: .25em 0 .25em 0;
  border-color: #666;

  background-color: #fff;
  border-radius: 5px;
}


ahead {
  grid-column: 1 / 4;
  height:10%;
  top: 0;
  width: 100%;
  position: absolute;
  border-style: solid;
  border-width: .5em 0 0 0;
  border-color: #444;
  background-color: #666;
  background-image: linear-gradient(to bottom, #666, #b6b6b6);
}


afoot {
  grid-column: 1 / 4;
  height: 10%;
  bottom: 0;
  width: 100%;
  position:absolute;
  border-style: solid;
  border-width: 0 0 0.5em 0;
  border-color: #444;
  background-color: #666;
  background-image: linear-gradient(to top, #666, #b6b6b6);
  z-index:1;
}


alft {
  background-color: #fff;
  height: 90%;
  width: 2.5%;
  left:0;
  top:5%;
  z-index:2;
  position:absolute; 
  border-radius: 0px 50px 50px 0px;
}

argt {
  background-color: #fff;
  height: 90%;
  width: 2.5%;
  right: 0;
  top: 5%;
  z-index:2;
  position:absolute;
  border-radius: 50px 0px 0px 50px;
}


.grid {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: repeat(3, 100px);
}

.sidebar-left {
  background-color: #444;
  height: 66%;
  margin-top: 8%;
  position: fixed;
  border-radius: 0px 25px 50px 50px;
  z-index: 3;
}

.sidebar-right {
  background-color: #b6b6b6;
  right:0;
  top: 8%;
  height:83%;
  position: absolute;
  border-radius: 0px 0px 150px 0px;
  z-index:3;
}

.slft {
  background-color: #fff;
  width: 1%;
  height: 83%;
  top:8%;
  position: fixed;
  display:inline;
  border-radius: 0px 25px 25px 0px;
  z-index:3;
}


.foowork {
  width: 30%;
  height: 120%;
  border-radius: 0 75px 375px 25px;
  background-color: #fff;
  text-align:center;
  margin:auto;
  margin-left:9%;
  display:inline;
  position: fixed;
  border-style: dotted;
  border-width: .5em .5em .5em .5em;
  border-color:#ccc;
  z-index:3;
}

.fooabout {
  width: 30%;
  height: 100%;
  border-radius: 25px 75px 375px 25px;
  border-style: solid;
  border-width: .5em .5em .5em .5em;
  border-color:#fff;
  background-color: #444;
  color:#fff;
  text-align:center;
  margin: auto;
  display:inline;
  margin-left:34%;
  position: fixed;
  z-index:2;
}

.foocontact {
  width: 30%;
  height: 100%;
  border-radius: 25px 75px 375px 25px;
  border-style: solid;
  border-width: .5em .5em .5em .5em;
  border-color:#666;
  background-color: #b6b6b6;
  text-align:center;
  margin: auto;
  margin-left: 61%;
  display:inline;
  position:fixed;
  z-index:1;
}

.hlft{
  display:inline;
  left:0.5%;
  top:0.5%;
  background-image: url('../img/bass-512.png');
  width:7%;
  height:7%;
/*  background-size: cover; */
  background-size:100% 100%;
  position:fixed;
  z-index:10;
}

hmid{
  display:inline;
/*  margin:auto; */
  margin-left:33%;
  potision:fixed;
}

hrgt{
  display:inline;
  right:0.5%;
  top:0.5%;
  background-image: url('../img/bass-512.png');
  width:7%;
  height:7%;
  background-size:100% 100%;
  position:fixed;

}


/* article footer */
fulft {
  display:inline;
  background-image: url('../img/dial.svg');
  margin-top: 0.5%;
  margin-left: 3%;
  width:8%;
  height:80%;
  background-size: cover;
  position:absolute;
  z-index:3;
}

fumid{
  display:inline;
  margin:auto;
  margin-left:10%;
  width: 80%;
  height: 100%;
/*  background-color:red; */
  position:absolute;
  z-index:3;
}

furgt {
  display:inline;
  background-image: url('../img/dial.svg');
  right: 0;
  margin-right:-1.5%;
  margin-top: 0.5%;
  float: right;
  width:8%;
  height:80%;
  background-size: cover;
  position:absolute;
  z-index:3;
}

tcon{
  width: 7%;
  height: 100%;
  left: 0;
  margin-left: .75%;

  /*  background-color: red; */

  background-image: url('../img/cons-512.png');
  background-size: 100% 100%;
  position: absolute;
  display: inline;

  z-index:3;
}

led{
  /* side bard led */
  width: 50%;
  height: 10%;
  top: 0;
  left: 0;

  /*  background-color: red; */
  background-image: url('../img/led.svg');
  background-size: 100% 100%;
  position: absolute;
  display: inline;

  z-index:4;
}


