<html>
<head>

<link rel="shortcut icon" href="../img/favicon.png">

<link href="css/main.css" rel="stylesheet"  type="text/css">

<script src="js/main.js"></script>


</head>
<body>


<div class="grid">
  <header>
     <div class="hlft">
<!--       <img src="../img/rederix-512.png"></img> -->
     </div>
     <hmid>
        THE BLEEDING EGG
     </hmid>
     <hrgt></hrgt>
  </header>

  <aside class="sidebar-left">
     <led></led>
     <div id="workdiv" style="z-index:-2">
       <chrm id="chrm"></chrm>
       <aeng id="aeng"></aeng>
       <peng id="peng"></peng>
       <wind id="wind"></wind>
     </div>
  </aside>

  <article>


<div class="grid">
  <ahead>
    Header
  </ahead>

   <alft></alft>

  <amid>
    Article
  </amid>

  <argt></argt>

  <afoot>
   <fulft></fulft>
   <fumid>a slightly longer Footer </fumid>
   <furgt></furgt>
  </afoot>
</div>

  </article>

  <aside class="sidebar-right">

  <div class="slft"></div>
     <br><br><br>
     Right Sidebar
  </aside>

  <footer>
     <tcon></tcon>

     <div id="work"     class="foowork"     onclick="footfoo('work')"     style="background-color: #fff;     border-color:#ccc;  color:#444"><div class="pad5">     WORK  </div></div>
     <div id="about"    class="fooabout"    onclick="footfoo('about')"    style="background-color: #444;     border-color:#fff;  color:#fff"><div class="pad5">    ABOUT  </div></div>
     <div id="contact"  class="foocontact"  onclick="footfoo('contact')"  style="background-color: #b6b6b6;  border-color:#666;  color:#000"><div class="pad5">  CONTACT  </div></div>

  </footer>

  <input id="lstpge"  type="hidden" value='work'>  <!-- start page -->


</div>


</body>
</html>
