<html>
<head>

<link rel="shortcut icon" href="../img/favicon.png">

<link href="css/main.css"    rel="stylesheet"  type="text/css">
<link href="css/contact.css" rel="stylesheet"  type="text/css">
<link href="css/about.css"   rel="stylesheet"  type="text/css">
<link href="css/chanl.css"   rel="stylesheet"  type="text/css">
<link href="css/remote.css"   rel="stylesheet"  type="text/css">


<script src="js/splat.js"></script>

<script src="js/main.js"></script>
<script src="js/remote.js"></script>



</head>
<body>


<div class="grid">
  <header>
     <div class="hlft">
<!--       <img src="../img/rederix-512.png"></img> -->
     </div>
     <hmid>
      <ttl></ttl>
       <!-- THE BLEEDING EGG -->
     </hmid>
     <hrgt></hrgt>
  </header>

  <aside class="sidebar-left">
     <led></led>
     <div id="workdiv">

     <splat1 id="splat1" style="display:inline;">
     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg1">
          <path id="svg1"  style="fill:#808000;stroke-width:0.08466666"      height="40mm" viewBox="0 0 42.817062 40.85302"></path>
       </svg>
       <chrm id="chrm" onclick="tune('1');"></chrm>

       <svg
         height="40.85302mm"
         viewBox="0 0 42.817062 40.85302"
         version="1.1"
         class="svg2">
         <g transform="translate(0.41519428,0.13771797)">
            <path id="svg2"  style="fill:#808000;stroke-width:0.08466666"></path>
         </g>
       </svg>
       <aeng id="aeng" onclick="tune('2');"></aeng>

       <svg
         height="40.85302mm"
         viewBox="0 0 42.817062 40.85302"
         version="1.1"
         class="svg3">
         <g transform="translate(0.41519428,0.13771797)">
            <path id="svg3"  style="fill:#808000;stroke-width:0.08466666"></path>
         </g>
       </svg>
       <peng id="peng" onclick="tune('3');"></peng>

       <svg
         height="40.85302mm"
         viewBox="0 0 42.817062 40.85302"
         version="1.1"
         class="svg4">
         <g transform="translate(0.41519428,0.13771797)">
            <path id="svg4" style="fill:#808000;stroke-width:0.08466666"></path>
         </g>
       </svg>
       <wind id="wind" onclick="tune('4');"></wind>
       </splat1>
     </div>

     <div id="aboutdiv"  style="position:absolute;">
     <splat2 id="splat2" style="display:inline;">

     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg5">
       <g transform="translate(0.41519428,0.13771797)">
          <path id="svg5" style="fill:#444444;stroke-width:0.08466666"></path>
       </g>
       </svg>
       <itree   id="itree"  onclick="tune('5');"></itree>

     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg6">
       <g transform="translate(0.41519428,0.13771797)">
          <path id="svg6"  style="fill:#444444;stroke-width:0.08466666"></path>
       </g>
       </svg>
       <iopen   id="iopen" onclick="tune('6');"></iopen>

     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg7">
       <g transform="translate(0.41519428,0.13771797)">
          <path id="svg7"  style="fill:#444444;stroke-width:0.08466666"></path>
       </g>
       </svg>
       <ilocale id="ilocale" onclick="tune('7');"></ilocale>

     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg8">
       <g transform="translate(0.41519428,0.13771797)">
          <path id="svg8"  style="fill:#444444;stroke-width:0.08466666"></path>
       </g>
       </svg>
       <ifuture id="ifuture" onclick="tune('8');"></ifuture>

     </splat2>
     </div>

     <div id="contactdiv" style="position:absolute;">
     <splat3 id="splat3" style="display:inline;">

     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg9">
       <g transform="translate(0.41519428,0.13771797)">
          <path id="svg9"  style="fill:#b6b6b6;stroke-width:0.08466666"></path>
       </g>
       </svg>
       <iinfo   id="iinfo" onclick="tune('9');"></iinfo>

     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg10">
       <g transform="translate(0.41519428,0.13771797)">
          <path id="svg10"  style="fill:#b6b6b6;stroke-width:0.08466666"></path>
       </g>
       </svg>
       <igithub id="igithub" onclick="tune('10');"></igithub>

     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg11">
       <g transform="translate(0.41519428,0.13771797)">
          <path id="svg11"  style="fill:#b6b6b6;stroke-width:0.08466666";"></path>
       </g>
       </svg>
       <igplus  id="igplus" onclick="tune('11');"></igplus>

     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg12">
       <g transform="translate(0.41519428,0.13771797)">
          <path id="svg12"  style="fill:#b6b6b6;stroke-width:0.08466666"></path>
       </g>
       </svg>
       <istaff  id="istaff" onclick="tune('12');"></istaff>
      </splat3>
     </div>
  </aside>

  <article>


<div class="grid">
  <ahead>
    Header
  </ahead>

   <alft></alft>

  <amid>
    Article
  </amid>

  <argt></argt>

  <afoot>
   <fumid>

     <fulft>
     <dial id="dial0"></dial>
    </fulft>

        <ledtv></ledtv>

    <furgt id="furgt">
  <dial id="dial1" onclick="tnext();"></dial>
  </furgt>

   </fumid>
  </afoot>
</div>

  </article>

  <aside class="sidebar-right">

  <div class="slft"></div><br>

     <lcdbtn id="chnl0"  onclick="tune('0');" >   0  </lcdbtn><br>
     <lcdbtn id="chnl1"  onclick="tune('1');" >   1  </lcdbtn><br>
     <lcdbtn id="chnl2"  onclick="tune('2');" >   2  </lcdbtn><br>
     <lcdbtn id="chnl3"  onclick="tune('3');" >   3  </lcdbtn><br>
     <lcdbtn id="chnl4"  onclick="tune('4');" >   4  </lcdbtn><br>
     <lcdbtn id="chnl5"  onclick="tune('5');" >   5  </lcdbtn><br>
     <lcdbtn id="chnl6"  onclick="tune('6');" >   6  </lcdbtn><br>
     <lcdbtn id="chnl7"  onclick="tune('7');" >   7  </lcdbtn><br>
     <lcdbtn id="chnl8"  onclick="tune('8');" >   8  </lcdbtn><br>
     <lcdbtn id="chnl9"  onclick="tune('9');" >   9  </lcdbtn><br>
     <lcdbtn id="chnl10" onclick="tune('10');">  10  </lcdbtn><br>
     <lcdbtn id="chnl11" onclick="tune('11');"> 1 1  </lcdbtn><br>
     <lcdbtn id="chnl12" onclick="tune('12');">  12  </lcdbtn><br>



  </aside>

  <footer>
     <splat0 id="splat2" style="display:inline;">

     <svg
       height="40.85302mm"
       viewBox="0 0 42.817062 40.85302"
       version="1.1"
       class="svg0">
       <g transform="translate(0.41519428,0.13771797)">
          <path id="svg0"  style="fill:#00ff00;stroke-width:0.08466666"></path>
       </g>
       </svg>
     <tcon onclick="tune('0');"></tcon></splat0>

     <div id="work"     class="foowork"     onclick="tune('1');"     style="background-color: #fff;     border-color:#ccc;  color:#444"><div class="pad5">     WORK  </div></div>
     <div id="about"    class="fooabout"    onclick="tune('5');"     style="background-color: #444;     border-color:#fff;  color:#fff"><div class="pad5">    ABOUT  </div></div>
     <div id="contact"  class="foocontact"  onclick="tune('9');"     style="background-color: #b6b6b6;  border-color:#666;  color:#000"><div class="pad5">  CONTACT  </div></div>

  </footer>

  <input id="lstpge"  type="hidden" value="work" />  <!--  last page     -->
  <input id="lstchn"  type="hidden" value=""    />  <!--  last channel  -->

</div>



<script src="js/init.js"></script>

</body>
</html>
