body {
  background-color: #fff;
  overflow:hidden;
}

@font-face {
  font-family: 'renegade';
  src: url('../font/renegado.ttf');
}


.headlbl {
  display: inline;
  font-family: 'renegade';
}

header {
  grid-column: 1 / 4;
  width: 100%;
  height: 8%;
  left:0;
  top:0;
  position:fixed;
  z-index: 1;
  background-color: #666;
  background-image: linear-gradient(to bottom, #666, #b6b6b6);
}

footer {
  background-color: #444;
  position: fixed;
  width: 100%;
  height: 7%;
  margin-top:60%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index:1;
  display: inline;
  grid-column: 1 / 4;
}



article {
  background-color: #b6b6b6;
  width: 80%;
  height: 77%;
  margin-top:5%;
  margin-left:10%;
  position:absolute;
}


amid{
  width: 93%;
  height: 75.5%;
  position: absolute;
  margin: auto;
  top: 12%;
  left: 3.5%;

  border-style: solid;
  border-width: .25em 0 .25em 0;
  border-color: #666;

  background-color: #fff;
  border-radius: 5px;
}


ahead {
  grid-column: 1 / 4;
  height:10%;
  top: 0;
  width: 100%;
  position: absolute;
  border-style: solid;
  border-width: .5em 0 0 0;
  border-color: #444;
  background-color: #666;
  background-image: linear-gradient(to bottom, #666, #b6b6b6);
}


afoot {
  grid-column: 1 / 4;
  height: 10%;
  bottom: 0;
  width: 100%;
  position:absolute;
  border-style: solid;
  border-width: 0 0 0.5em 0;
  border-color: #444;
  background-color: #666;
  background-image: linear-gradient(to top, #666, #b6b6b6);
  z-index:1;
}


alft {
  background-color: #fff;
  height: 90%;
  width: 2.5%;
  left:0;
  top:5%;
  z-index:2;
  position:absolute; 
  border-radius: 0px 50px 50px 0px;
}

argt {
  background-color: #fff;
  height: 90%;
  width: 2.5%;
  right: 0;
  top: 5%;
  z-index:2;
  position:absolute;
  border-radius: 50px 0px 0px 50px;
}


.grid {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: repeat(3, 100px);
}

.sidebar-left {
/* background-color: #444; */
  height: 66%;
  width: 10%;
  margin-top: 8%;
  position: absolute;

    border-style: solid;
    border-width: 0.5em;
    border-color: #444;


  background-color: #666;
  background-image: linear-gradient(to bottom, #666, #444);

  border-radius: 0px 25px 50px 50px;
  z-index: 3;
}

.sidebar-right {
  background-color: #b6b6b6;
  right:0;
  top: 8%;
  height:83%;
  width:7%;
  line-height: 2.5;

  position: absolute;
  border-radius: 0px 0px 150px 0px;
  z-index:3;
}

.slft {
  background-color: #fff;
  width: 1%;
  height: 83%;
  top:8%;
  position: fixed;
  display:inline;
  border-radius: 0px 25px 25px 0px;
  z-index:3;
}


.foowork {
  width: 31%;
  height: 120%;
  border-radius: 0 75px 375px 25px;
  font-family: 'renegade';
  src: url('../font/renegado.ttf');
  text-align:center;
  margin:auto;
  margin-left:9%;
  display:inline;
  position: fixed;
  border-style: dotted;
  border-width: .5em .5em .5em .5em;
  z-index:3;
}

.fooabout {
  width: 31%;
  height: 100%;
  border-radius: 25px 75px 375px 25px;
  border-style: solid;
  border-width: .5em .5em .5em .5em;
  font-family: 'renegade';
  src: url('../font/renegado.ttf');
  text-align:center;
  margin: auto;
  display:inline;
  margin-left:35%;
  position: fixed;
  z-index:2;
}

.foocontact {
  width: 30%;
  height: 100%;
  border-radius: 25px 75px 375px 25px;
  border-style: solid;
  border-width: .5em .5em .5em .5em;
  font-family: 'renegade';
  src: url('../font/renegado.ttf');
  text-align:center;
  margin: auto;
  margin-left: 61%;
  display:inline;
  position:fixed;
  z-index:1;
}

.hlft{
  display:inline;
  left:0.5%;
  top:0.5%;
  background-image: url('../img/bass-512.png');
  width:7%;
  height:7%;
/*  background-size: cover; */
  background-size:100% 100%;
  position:fixed;
  z-index:10;
}

hmid{
  display:inline;
/*  margin:auto; */
  margin-left:12.5%;
  potision:fixed;
  font-size: 45px;
  font-family: 'renegade';
}

hrgt{
  display:inline;
  right:0.5%;
  top:0.5%;
  background-image: url('../img/bass-512.png');
  width:7%;
  height:7%;
  background-size:100% 100%;
  position:fixed;

}


/* article footer */
fulft {
  display:inline;
  top: 5%;
  left:5%;
  width:8%;
  height:90%;
  position:absolute;
}

fumid{
  display:inline;
  margin:auto;
  margin-left:10%;
  width: 80%;
  height: 100%;
/*  background-color:red; */
  position:absolute;
  margin:auto;
}

furgt {
  display:inline;
  top: 0;
  right:-20%;
  width:6%;
  height:95%;
  position:absolute;
  margin:auto;
  z-index:5;
}


dial{
  width: 100%;
  height: 100%;
  background-image: url('../img/dial.svg');
  /*background-size: cover; */
  background-size:100%;
  background-repeat: no-repeat;

  display:inline;
  position:absolute;
  z-index:5;
  overflow:hidden;
/*  margin-top:15%;
  margin-left:15%; */

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

tcon{
  width: 7%;
  height: 100%;
  left: 0;
  margin-left: .75%;

  /*  background-color: red; */

  background-image: url('../img/cons-512.png');
  background-size: 100% 100%;
  position: absolute;
  display: inline;

  z-index:3;
}

led{
  /* side bard led */
  width: 75%;
  height: 20%;
  top: 0;
  left: 10%;

  /*  background-color: red; */
  background-image: url('../img/led.svg');
  background-size: 100% 100%;
  position: absolute;
  display: inline;

  z-index:4;
}


ledtv{
  /* side bard led */
  width: 25%;
  height: 50%;
  top: 15%;
  left:36%;
/*  left: 10%;
/*  margin-left: 10%;
  /*  background-color: red; */
  background-image: url('../img/ledtv.svg');
  background-size: 100% 100%;
  position: absolute;
  display: inline;

  z-index:4;
}



chrm{
  /* side bar chrome */
  width: 75%;
  height: 15%;
  top: 15%;
  left: 10%;
  background-image: url('../img/work/chrmr.png');
  background-size: 100% 100%;
  position: absolute;
  display: inline;
}

aeng{
  /* side bar appengine */
  width: 75%;
  height: 15%;
  top: 35%;
  left: 10%;
  background-image: url('../img/work/appengr.png');
  background-size: 100% 100%;
  position: absolute;
  display: inline;
}


peng{
  /* side bar linux */
  width: 75%;
  height: 15%;
  top: 55%;
  left: 10%;
  background-image: url('../img/work/pengr.png');
  background-size: 100% 100%;
  position: absolute;
  display: inline;
}


wind{
  /* side bar windows */
  width: 75%;
  height: 15%;
  top: 75%;
  left: 10%;
  background-image: url('../img/work/windr.png');
  background-size: 100% 100%;
  position: absolute;
  display: inline;
}


ttl{
  /* title */
  width: 75%;
  height: 100%;
  background-image: url('../img/title.png');
  background-size: 100% 100%;
  position: absolute;
  display: inline;
}



.pad5{
  padding-top:5%;
}

